.app {
    @footer-height: 4 * @spacing + 60px;
    min-height: 100%;
    position: relative;
    & > header {
        position: relative;
        font-weight: bold;
        color: white;
        text-align: left;
        padding-top: @spacing / 2;
        padding-bottom: @spacing / 2;
        padding-left: 3 * @spacing;
        padding-right: 3 * @spacing;
        background: fadeOut(black, 100%);
        position: fixed;
        top: 0;
        z-index: 1000000;
        width: 100%;
        h1 {
            .text-l;
            display: inline;
        }
        .logo {
            .circle(15px);
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .face {
            z-index: 10;
            margin-top: @spacing;
            float: right;
            .username {
                display: none;
                .bp-l({
                    display: inline;
                    vertical-align: middle;
                });
            }
            img {
                vertical-align: middle;
                background: white;
                padding: 2px;
                margin-left: @spacing / 2;
                .circle(15px);
            }
        }
    }
    & > .content {
        text-align: center;
    }
    & > footer {
        height: @footer-height;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        padding: 2 * @spacing;
        text-align: center;
        img {
            margin: @spacing / 3;
            margin-top: @spacing;
            .circle(13px);
            padding: 2px;
        }
    }
}
