.app {
    @footer-height: 4 * @spacing + 60px;
    min-height: 100%;
    position: relative;

    & > header {
        position: relative;
        font-size: 30px;
        font-weight: bold;
        color: white;
        height: 80px;
        text-align: left;
        padding-top: 1.5 * @spacing;
        padding-left: 3 * @spacing;
        padding-right: 3 * @spacing;
        background: @main-color;
        .logo {
            .circle(15px);
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: white;
        }
        .face {
            img {
                background: white;
                .circle(44px);
            }
            display: block;
            position: relative;
            top: -35px;
            text-align: center;
            width: 100px;
            margin: 0 auto;
            @media(max-width: 480px) {
                position: absolute;
                width: 60px;
                right: 3 * @spacing;
                top: @spacing;
                img {
                    .circle(30px);
                }
            }
        }
    }

    & > .content {
        padding-bottom: @footer-height;
        & > section {
            text-align: center;
            & > header {
                padding-top: 4 * @spacing;
                padding-bottom: @spacing;
                background: white;
                color: @text-color;
                text-align: center;
                h2, h4 {
                    margin: 0 @spacing;
                    display: inline-block;
                }
                @media(max-width: 480px) {
                    padding-top: @spacing;
                    h2 {
                        font-size: 20px;
                    }
                    h4 {
                        font-size: 15px;
                    }
                }
                &.sticky {
                    z-index: 99999;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    padding-top: @spacing;
                    h2 {
                        font-size: 20px;
                    }
                    h4 {
                        font-size: 15px;
                    }
                    a {
                        display: none;
                    }
                }
            }
        }
    }

    & > footer {
        height: @footer-height;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        color: grey;
        font-size: .7em;
        padding: 2 * @spacing;
        text-align: center;

        img {
            margin: @spacing / 3;
            margin-top: @spacing;
            .circle(13px);
            padding: 2px;
        }
    }
}
