html {
    height: 100%;
}

body {
    font-family: @font-family;
    color: @text-color;
    font-size: 20px;
    margin: 0 auto;
    height: 100%;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

h3 {
    padding-bottom: @spacing * 2;
    font-size: 20px;
    font-weight: bold;
}

h4 {
    color: #999999;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2 * @spacing;
}

article {
    text-align: center;
}

.content {
    padding: 2 * @spacing 0;
}

.circle(@radius: 40px) {
    width: @radius * 2;
    height: @radius * 2;
    border-radius: 50%;
}

img {
    box-shadow: 0 2px 10px -5px black;
    border: solid 1px #aaa;
    padding: 3px;
    background: white;
    .circle;
}

ul, ol {
    list-style: none;
    padding-left: @spacing;
}
