input {
    padding: @spacing;
    max-width: 400px;
    border: none;
    border-bottom: solid 1px #aaaaaa;
    outline: none;
    margin-bottom: 2 * @spacing;
    &::-webkit-input-placeholder {
        text-align: center;
    }
}
