@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700');

@spacing: 10px;
@main-color: darken(#B19CD9, 15%);
@text-color: rgba(0, 0, 0, 0.8);
@font-family: 'Open Sans', sans-serif;

@import 'common';
@import 'links';
@import 'buttons';
@import 'inputs';
@import 'app';

@import 'components/loading';
@import 'components/search';
@import 'components/readers';
@import 'components/new-reader';
@import 'components/year';
@import 'components/month';
