.card(@hover: true) {
    padding: @spacing;
    width: 100%;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    display: inline-block;
    color: @main-color;
    text-align: center;
    margin: @spacing;
    text-decoration: none;
    border-top: solid 4px darken(@main-color, 20%);
    padding-top: @spacing - 4px;

    & when (@hover = true) {
        transition: border .1s ease;
        &:not([disabled]):hover {
            border-color: @main-color-b;
        }
    }

    &[disabled] {
        opacity: .2;
        pointer-events: none;
    }

    button, .button {
        &:extend(.inverse all, .small all);
    }

    /* & > h4 {
        background: @main-color-b;
        color: white !important;
        margin: -@spacing -@spacing @spacing -@spacing;
        padding: @spacing / 2;
    } */
}
