.events-day {
    padding-bottom: @spacing;

    .nothing {
        color: darken(@main-color, 20%);
        font-weight: bold;
        margin: 2 * @spacing;
    }

    .search {
        margin-top: 2 * @spacing;
    }

    & > a  {
        margin-bottom: @spacing;
    }

    ol.events {
        list-style: none;
        padding: 0;

        @timelineWidth: 4px;

        .event {
            color: white;
            position: relative;
            margin: 0 0;
            min-height: 64px;
            display: block;
            padding: @spacing;
            .bp-m({
                padding: 2 * @spacing @spacing;
                &:nth-child(2n) {
                    margin-left: 50%;
                    border-left: solid @timelineWidth white;
                    text-align: left;
                    right: @timelineWidth / 2;
                    padding-left: 5 * @spacing;
                    & > img {
                        left: -27px;
                    }
                }

                &:nth-child(2n+1) {
                    margin-right: 50%;
                    border-right: solid @timelineWidth white;
                    padding-right: 5 * @spacing;
                    text-align: right;
                    left: @timelineWidth / 2;
                    & > img {
                        right: -27px;
                    }
                }
            });
            & > img {
                .circle(15px);
                float: left;
                .bp-m({
                    padding: @timelineWidth;
                    border: none;
                    box-shadow: none;
                    float: none;
                    .circle(25px);
                    position: absolute;
                    top: 42%;
                });
            }
            time {
                .text-m;
                display: inline-block;
                float: right;
                .bp-m({
                    display: block;
                    float: none;
                });
            }
            iframe {
                width: 100%;
                border: none;
                margin-top: @spacing;
            }
            .content {
                .card(@hover: false);
                width: 100%;
                max-width: 100%;
                text-align: left;
                margin: @spacing 0;
                .bp-m({
                    width: auto;
                    max-width: 100%;
                });
                .bp-l({
                    width: auto;
                    max-width: 70%;
                });
                div > img {
                    display: block;
                    margin: 0 auto;
                    border-radius: 2px;
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    margin-top: @spacing;
                }

                li {
                    img {
                        vertical-align: middle;
                        .circle(9px);
                        padding: 1px;
                        margin-right: @spacing / 2;
                    }
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
