.events-day {
    padding-bottom: @spacing;

    & .content > ol {
        list-style: none;
        padding: 0;
        margin: 2 * @spacing 0;
        min-height: 2 * @spacing;

        @timelineWidth: 4px;

        .bp-m({
            margin: 0;
        });

        & > li {
            color: white;
            position: relative;
            margin: 0 0;
            min-height: 64px;
            display: block;
            padding: @spacing;
            .bp-m({
                padding: 2 * @spacing @spacing;
                &:nth-child(2n) {
                    margin-left: 50%;
                    border-left: solid @timelineWidth white;
                    text-align: left;
                    right: @timelineWidth / 2;
                    padding-left: 5 * @spacing;
                    & > img {
                        left: -27px;
                    }
                }

                &:nth-child(2n+1) {
                    margin-right: 50%;
                    border-right: solid @timelineWidth white;
                    padding-right: 5 * @spacing;
                    text-align: right;
                    left: @timelineWidth / 2;
                    & > img {
                        right: -27px;
                    }
                }
            });

            & > img {
                .circle(15px);
                position: absolute;
                .bp-s({
                    left: 0;
                    top: 0;
                    z-index: 999;
                });
                .bp-m({
                    padding: @timelineWidth;
                    border: none;
                    box-shadow: none;
                    float: none;
                    .circle(25px);
                    position: absolute;
                    top: 42%;
                });
            }

            & > time {
                .bp-s({
                    .badge;
                    position: absolute;
                    top: 0;
                    right: 5px;
                });
                .bp-m({
                    .text-m;
                    display: block;
                    float: none;
                });
            }

            & > .event {
                margin: 0;
                .bp-m({
                    width: auto;
                    max-width: 100%;
                    margin: @spacing 0;
                });
                .bp-l({
                    width: auto;
                    max-width: 70%;
                });
            }
        }
    }
}
