.events-day {
    padding-bottom: @spacing;

    .nothing {
        color: darken(@main-color, 20%);
        font-weight: bold;
        margin: 2 * @spacing;
    }

    .search {
        margin-top: 2 * @spacing;
    }

    & > a  {
        margin-bottom: @spacing;
    }

    ol.events {
        list-style: none;
        padding: 0;

        @timelineWidth: 4px;

        .event {
            color: white;
            position: relative;
            margin: 0 0;
            padding: 2 * @spacing @spacing;
            min-height: 64px;
            display: block;

            @media(min-width: 700px) {
                &:nth-child(2n) {
                    margin-left: 50%;
                    border-left: solid @timelineWidth white;
                    text-align: left;
                    right: @timelineWidth / 2;
                    padding-left: 5 * @spacing;
                    & > img {
                        left: -27px;
                    }
                }

                &:nth-child(2n+1) {
                    margin-right: 50%;
                    border-right: solid @timelineWidth white;
                    padding-right: 5 * @spacing;
                    text-align: right;
                    left: @timelineWidth / 2;
                    & > img {
                        right: -27px;
                    }
                }
            }
            & > img {
                .circle(25px);
                position: absolute;
                top: 42%;
                border: none;
                box-shadow: none;
                padding: @timelineWidth;
            }
            time {
                .text-m;
                display: block;
            }
            .content {
                .card(@hover: false);
                text-align: left;
                margin: @spacing 0;
                width: auto;
                max-width: 70%;
                div > img {
                    display: block;
                    margin: 0 auto;
                    border-radius: 2px;
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    margin-top: @spacing;
                }

                li {
                    img {
                        vertical-align: middle;
                        .circle(9px);
                        padding: 1px;
                        margin-right: @spacing / 2;
                    }
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            @media(max-width: 700px) {
                .content {
                    width: 100% !important;
                    max-width: 100% !important;
                }
                & > img {
                    .circle(15px) !important;
                    position: static !important;
                    float: left;
                }
                time {
                    display: inline-block !important;
                    float: right;
                }
                padding: @spacing;
            }
        }
    }
}
