.events-month {
    .month {
        @distanceBetweenDays: @spacing / 2;

        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background: @main-color;
        height: 52vh;
        padding: 2 * @distanceBetweenDays @distanceBetweenDays;
        box-shadow: 0 2px 10px -5px black inset;

        .day {
            height: 100%;
            display: inline-block;
            & > a {
                .card;
                height: 100%;
                width: 250px;
                overflow-x: scroll;
                margin: 0 @distanceBetweenDays;

                header {
                    margin-bottom: @spacing;
                }

                &.today h2 {
                    width: 40%;
                    margin: 0 auto;
                    border-radius: 200px;
                    background: @main-color;
                    color: white;
                }

                div:not(.loading) {
                    text-align: left;
                    width: 100%;
                    padding: @spacing / 2 25%;

                    img {
                        .circle(25px);
                        margin-right: 3 * @spacing;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                h4 {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
