.events-month {
    text-align: center;

    & > h2, & > h4 {
        display: inline-block;
        margin: 0 @spacing;
    }

    & > h4 {
        opacity: .6;
        a {
            text-decoration: none;
        }
    }

    .day {
        .circle(40px);
        border-radius: 200px;
        display: inline-block;
        border: solid 1px @main-color;
        box-sizing: border-box;
        color: @main-color;
        padding: @spacing;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        margin: @spacing / 4;

        &:hover {
            background: fadeOut(@main-color, 60%);
            color: white;
            h4 {
                color: white;
            }
        }

        &[disabled] {
            pointer-events: none;
            opacity: .2;
        }

        &.today {
            background: @main-color;
            color: white;
        }

        img {
            .circle(10px);
            padding: 2px;
            display: inline-block;
            position: relative;
            color: red;
            margin: 0 1px;
        }

        h4 {
            margin-bottom: @spacing;
            padding: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        strong {
            font-size: 20px;
            display: block;
            margin-bottom: @spacing;
        }
    }
}
