.new-reader {
    header > h2 {
        display: block !important;
    }
    img {
        .circle(40px);
        display: block;
        margin: 2 * @spacing auto;
    }
    p {
        margin-top: @spacing / 2;
        margin-bottom: 2 * @spacing;
        font-weight: normal;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .param {
        max-width: 300px;
        margin: 2 * @spacing auto;
        text-align: left;
        input {
            display: block;
            width: 100%;
        }
    }
    button {
        margin-bottom: 2 * @spacing;
    }
}
