.active-readers, .available-readers {

    & > header {
        margin-bottom: @grid-spacing;
    }

    .search, .button, button {
        display: inline-block;
        margin: 0 @spacing / 2;
    }

    text-align: center;
    ul {
        padding: @grid-spacing / 2;
    }

    .active-reader, .available-reader {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: @grid-spacing / 2;
        .bp-s({
            text-align: left;
            * {
                text-align: left;
            }
        });
        .bp-m({
            width: 50%;
        });
        .bp-l({
            width: 33.33%;
        });
        .bp-x({
            width: 25%;
        });
        h4:extend(.text-m all) {}
        & > *:first-child {
            .card;
            margin: 0;
            color: @text-color;
            min-height: 68px;
            & > img {
                .bp-s({
                    .circle(25px);
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: @spacing / 2 @spacing;
                    margin-top: @spacing / 1.5;
                });
                .bp-m({
                    .circle(40px);
                    display: block;
                    margin: @spacing auto;
                });
            }
            p {
                margin: 0;
                font-weight: normal;
                display: block;
                .ellipsis;
            }
            &.error {
                background: @danger-color !important;
            }
            .bp-s({
                position: relative;
                h4, p, .info {
                    margin-left: 60px;
                }
            });
        }

        footer {
            .bp-m({
                padding-top: @spacing / 2;
            });
            .info {
                .ellipsis;
                font-weight: normal;
                .bp-m({
                    .small;
                    border: solid 3px @main-color;
                    text-align: left;
                    background: @main-color;
                    color: white;
                    border-radius: 2px;
                    margin: 0;
                    display: inline-block;
                    padding: 0;
                    padding-right: @spacing;
                    vertical-align: middle;
                    max-width: 60%;
                });
                & > * {
                    vertical-align: middle;
                }
                img {
                    .square(18px);
                    padding: 0;
                    margin-right: @spacing / 2;
                    .bp-m({
                        .square(27px);
                        padding: 2px;
                        box-shadow: none;
                        border: none;
                        margin: 0;
                        margin-right: @spacing / 2;
                        display: inline-block;
                    });
                }
            }
            button {
                vertical-align: middle;
                .bp-s({
                    position: absolute;
                    right: @spacing / 2;
                    top: @spacing;
                });
            }
        }
    }
}
