.active-readers, .available-readers {

    & > header {
        margin-bottom: @grid-spacing;
    }

    .search, .button, button {
        display: inline-block;
        margin: 0 @spacing / 2;
    }

    text-align: center;
    ul {
        padding: @grid-spacing / 2;
    }

    .active-reader, .available-reader {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        @media(max-width: 990px) {
            width: 33.33%;
        }
        @media(max-width: 680px) {
            width: 50%;
        }
        @media(max-width: 300px) {
            width: 100%;
        }
        margin: 0;
        padding: @grid-spacing / 2;
        position: relative;
        h4:extend(.text-m all) {}
        & > *:first-child {
            .card;
            margin: 0;
            color: @text-color;
            img {
                .circle(40px);
                display: block;
                margin: @spacing auto;
            }
            p {
                margin: 0;
                font-weight: normal;
                display: block;
                .ellipsis;
            }
            &.error {
                background: @danger-color !important;
            }
        }

        footer {
            padding-top: @spacing / 2;
            .info {
                .small;
                border: solid 3px @main-color;
                text-align: left;
                font-weight: normal;
                background: @main-color;
                color: white;
                border-radius: 2px;
                margin: 0;
                display: inline-block;
                padding: 0;
                padding-right: @spacing;
                vertical-align: middle;
                .ellipsis;
                max-width: 60%;
                img {
                    .circle(13.5px);
                    box-shadow: none;
                    padding: 2px;
                    border: none;
                    border-radius: 0;
                    margin: 0;
                    margin-right: @spacing / 2;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            button {
                vertical-align: middle;
            }
        }
    }
}
