.search {
    .button;

    input {
        width: 80%;
        margin-left: @spacing;
        border: none;
        padding: 0;
    }

    &:hover {
        input::-webkit-input-placeholder {
            color: @main-color;
        }
        input {
            background: white;
            color: @main-color;
        }
    }
}
