.events-year {
    .year {
        @distanceBetweenMonths: @spacing / 2;
        text-align: center;
        background: @main-color;
        padding: @distanceBetweenMonths;
        box-shadow: 0 2px 10px -5px black inset;
        margin: 0 auto;
        @media(min-width: 480px) {
            padding: @distanceBetweenMonths 10%;
        }
        .month {
            text-decoration: none;
            display: inline-block;
            width: 25%;
            @media(max-width: 480px) {
                width: 33.33%;
            }
            margin: 0;
            padding: @distanceBetweenMonths;
            vertical-align: top;

            a {
                .card;
                margin: 0;
            }

            h4 {
                margin-bottom: @spacing;
                padding: 0;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            strong {
                display: block;
                margin-bottom: @spacing;
            }

            img {
                .circle(12px);
                &.loading {
                    .circle(25px);
                }
                padding: 2px;
                display: inline-block;
                color: red;
                margin: 0 1px;
            }
        }
    }
}
